* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-around;
}

.container .logo {
  font-size: 18px;
  margin: 9px 4vw 9px 4vw;
  color: rgb(179, 176, 176);
}

.container .logo:hover {
  color: white;
  transition: all 0.3s ease-in-out;
}

.nav {
  background-color: rgb(41, 40, 40);
  height: 45px;
  width: 100vw;
  overflow: hidden;
  position: fixed;
  top: 0;
  position: fixed;
  z-index: 100;
}

.navbar-elements {
  display: flex;
  justify-content: space-evenly;
}

.navbar-elements li {
  list-style: none;
  margin: 9px 4vw 9px 4vw;
}

#navbar-elements li a {
  color: rgb(179, 176, 176);
  text-decoration: none;
  font-size: 18px;
}

#navbar-elements li a:hover {
  color: rgb(255, 253, 253);
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.toggle {
  border: none;
  background-color: transparent;
  color: white;
  margin: 0;
  position: absolute;
  top: -1000px;
}

/* Products */
.p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  margin: 0 auto 1% auto;
}

.p img {
  width: 600px;
  height: 700px;
}

.p1 img {
  height: 500px;
  width: 500px;
}

.p2 {
  height: 500px;
}

.p2 img {
  width: 500px;
  height: 500px;
}

.p2 .side h3 i {
  color: rgb(180, 28, 28);
  align-items: center;
}

.p .side {
  margin: auto 10%;
}

.p .side .links {
  display: flex;
  justify-content: space-between;
  color: rgb(36, 93, 199);
  text-decoration: none;
}

.p .side .links a:hover {
  text-decoration: none;
}

/* Products 2 */

.products2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  font-size: 40px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin: 0% auto 5% auto;
}

.products2 .pp {
  height: 300px;
}

.products2 .pp .fa-apple {
  color: red;
}

.products2 .pp1 img {
  height: 300px;
}

.products2 .pp2 img {
  height: 300px;
}

.products2 .pp3 img {
  height: 300px;
}

.products2 .pp4 img {
  height: 300px;
}

/*Footer */

.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.footer-wrapper ul li {
  margin-left: 3vw;
  list-style: none;
  font-size: 12px;
  color: rgb(179, 178, 178);
}

.footer-wrapper ul li h3 {
  margin-bottom: 5px;
  color: rgb(138, 138, 138);
  font-size: 15px;
}

.footer-wrapper ul li a {
  color: rgb(179, 178, 178);
  text-decoration: none;
}

.footer-wrapper ul li a:hover {
  color: rgb(122, 121, 121);
  transition: 0.4s ease-in-out;
}

.hr-top {
  margin-top: 10%;
  margin-bottom: 20px;
  width: 100vw;
}

.hr-bottom {
  margin-top: 10%;
  margin-bottom: 20px;
  width: 100vw;
}

h6 {
  font-size: 10px;
  margin: 5px;
  color: grey;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 5vh;
}

.Privacy {
  margin-left: auto;
  margin-top: 5vh;
}
.Privacy ul {
  display: flex;
  justify-content: space-evenly;
}

.Privacy ul li {
  list-style: none;
}

.Privacy ul li a {
  color: rgb(122, 121, 121);
  text-decoration: none;
  font-size: 13px;
  margin-top: 10px;
}

/*Navbar End */

/* Small screens */

@media screen and (max-width: 950px) {
  .nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: rgb(41, 40, 40);
  }
  .container .logo {
    display: flex;
    margin: auto;
    font-size: 18px;
  }

  .navbar-elements {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    margin-top: auto;

    margin: auto;
    width: 100vw;
    position: fixed;
    z-index: -1000;
    top: -500px;
    opacity: 1;
    transition: all 0.8s ease-in-out;
    min-height: 50vh;

    background-color: rgb(0, 0, 0);
    opacity: 0;
  }

  .navbar-elements-show {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    margin-top: 10px;
    margin: auto;
    width: 100vw;
    position: fixed;
    top: 40px;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    min-height: 100vh;
    z-index: -111;
    background-color: rgb(0, 0, 0);
  }

  #navbar-elements li {
    text-align: center;

    margin: auto;
  }

  #navbar-elements li a {
    margin: auto;
  }

  .toggle {
    top: 9px;
    right: 30px;
    font-size: 20px;
    color: rgb(179, 176, 176);
  }
  .toggle:hover {
    color: white;
    transition: all 0.5s ease-in-out;
  }

  /* Products */
  .p {
    display: grid;
    grid-template-columns: 1fr;
    height: 1000px;
    background-color: black;
    color: white;
  }

  .p1 {
    height: 800px;
  }

  .p2 {
    height: 800px;
  }

  .p img {
    width: 500px;
    height: 600px;
    margin: 10% auto 5% auto;
  }

  .p1 img {
    width: 400px;
    height: 400px;
  }

  .p2 img {
    height: 500px;
    width: 500px;

    margin: auto;
  }

  .p .side {
    text-align: center;
    margin: 0 auto;
  }

  .p .side .links {
    display: flex;
    justify-content: center;
    color: rgb(36, 93, 199);
    text-decoration: none;
    margin: auto;
  }

  .p .side .links a {
    text-align: center;
    margin: 0px 8% auto 8%;
  }

  .p .side .links a:hover {
    text-decoration: none;
  }

  /* Products 2 */

  .products2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 40px;
    text-align: center;
    margin: 2% auto 10% auto;
  }

  .products2 .pp {
    height: 250px;
  }

  .products2 .pp h3 {
    margin: 55px auto 20px auto;
  }

  .products2 .pp .fa-apple {
    color: red;
  }

  .products2 .pp1 img {
    height: 250px;
    width: 200px;
  }

  .products2 .pp2 img {
    height: 250px;
    width: 200px;
  }

  .products2 .pp3 img {
    height: 250px;
    width: 250px;
  }

  .products2 .pp4 img {
    height: 250px;
    width: 250px;
  }

  .hr-top {
    margin-top: 20%;
    margin-bottom: 20px;
    width: 100vw;
  }

  .hr-bottom {
    margin-top: 20%;
    margin-bottom: 20px;
    width: 100vw;
  }
}

@media screen and (max-width: 580px) {
  .products2 {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 40px;
    text-align: center;
  }

  .p img {
    width: 400px;
    height: 500px;
  }

  .p1 img {
    height: 300px;
    width: 300px;
  }

  .p2 img {
    height: 300px;
    width: 300px;

    margin: auto;
  }

  .footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .Privacy {
    margin: auto 05%;
  }

  .Privacy ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-height: 5155px) {
  hr {
    margin-top: 20%;
  }

  .products2 .pp {
    margin: 200px auto 100px auto;
  }

  .hr-bottom {
    margin-top: 10%;
  }
}

@media screen and (max-height: 5550px) {
  hr {
    margin-top: 50%;
  }
}

@media screen and (max-width: 1500px) {
  .products2 .pp img {
    height: 75%;
    margin-bottom: 0;
  }

  .products2 .pp {
    margin: 15% auto 1% auto;
  }

  .footer .hr-top {
    margin: 2% auto 0 auto;
  }
}
